<?xml version="1.0"?>
<!--
  ~ Copyright (c) MageWorkshop. All rights reserved.
  ~ This source file is subject to the MageWorkshop License https://mageworkshop.com/terms-of-service
  ~ Do not change this file if you want to upgrade the module to the newer versions in the future
  ~ Please, contact us at https://mageworkshop.com/contact if you wish to customize this module according to you business needs
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="mageworkshop_detailedreview_collect_unknown_input_type_configurations">
        <observer name="mageworkshop_imageloader_collect_unknown_input_type_configurations"
                  instance="MageWorkshop\ImageLoader\Observer\AddImageFiledConfigurationToForm"
        />
    </event>
</config>