<?xml version="1.0"?>
<!--
  ~ Copyright (c) MageWorkshop. All rights reserved.
  ~ This source file is subject to the MageWorkshop License https://mageworkshop.com/terms-of-service
  ~ Do not change this file if you want to upgrade the module to the newer versions in the future
  ~ Please, contact us at https://mageworkshop.com/contact if you wish to customize this module according to you business needs
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mageworkshop_detailedreview">
            <group id="imageloader" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Review Images</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="image_size" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image Size</label>
                    <comment>Size image(in MB)</comment>
                    <validate>required-entry validate-number validate-number-range number-range-0-100</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <!--<field id="number_of_images_to_show" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">-->
                    <!--<label>Number of images to show</label>-->
                    <!--<comment></comment>-->
                    <!--<validate>required-entry validate-number validate-number-range number-range-1-10</validate>-->
                    <!--<depends>-->
                        <!--<field id="enabled">1</field>-->
                    <!--</depends>-->
                <!--</field>-->
                <field id="image_types" translate="label" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image Types</label>
                    <source_model>MageWorkshop\ImageLoader\Model\Config\Source\ImageTypes</source_model>
                    <can_be_empty>1</can_be_empty>
                    <comment>Please select image type. Allowed file types see above.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="image_width" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image Width</label>
                    <validate>required-entry validate-number validate-number-range number-range-10-200</validate>
                    <comment>Specify image width in pixels. If the entered width is more than 180 px, the image in the slider can be displayed incorrectly.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="image_height" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image Height</label>
                    <validate>required-entry validate-number validate-number-range number-range-10-200</validate>
                    <comment>Specify image height in pixels</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
