<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="order_status_changed_after">
        <observer name="postaffiliatepro_order_status_changed" instance="QualityUnit\PostAffiliatePro\Observer\OnOrderModified" />
    </event>
    <event name="sales_order_place_after">
        <observer name="postaffiliatepro_order_place_after" instance="QualityUnit\PostAffiliatePro\Observer\OrderPlaceAfter" />
    </event>
</config>
