<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Quote\Model\CouponManagement" type="JoSql\DiscardDiscount\Model\CouponManagement" />
    <preference for="Magento\Checkout\Controller\Cart\CouponPost" type="JoSql\DiscardDiscount\Controller\Rewrite\Cart\CouponPost" />
    <type name="Magento\SalesRule\Model\Rule\Condition\Address">
        <plugin name="load-attribute-options" type="JoSql\DiscardDiscount\Plugin\Address" />
    </type>
</config>