<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="xp_config" translate="label" class="extended-patterns" sortOrder="190">
            <label>Extended Patterns</label>
        </tab>
    </system>
</config>
