<?xml version="1.0"?>
<!--
  ~ Copyright (c) MageWorkshop. All rights reserved.
  ~ This source file is subject to the MageWorkshop License https://mageworkshop.com/terms-of-service
  ~ Do not change this file if you want to upgrade the module to the newer versions in the future
  ~ Please, contact us at https://mageworkshop.com/contact if you wish to customize this module according to you business needs
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mageworkshop_detailedreview>
            <admin_response>
                <title>Customer Support</title>
                <show_tooltip>1</show_tooltip>
                <tooltip_text>Our customer support team is always ready to help you. Please, contact us directly if you have any questions.</tooltip_text>
            </admin_response>
        </mageworkshop_detailedreview>
    </default>
</config>