<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <xp_orderpdf>
            <general>
                <display_inline>1</display_inline>
                <header_text_color>#820053</header_text_color>
                <enable_usd_invoice>0</enable_usd_invoice>
                <usd_rate>0.266667</usd_rate>
            </general>
            <order_info>
                <bg_color>#820053</bg_color>
                <table_border>1</table_border>
                <border_color>#282828</border_color>
                <text_color>#FFFFFF</text_color>
                <new_line>1</new_line>
            </order_info>
            <addresses>
                <heading_bg_color>#f16682</heading_bg_color>
                <content_bg_color>#FFFFFF</content_bg_color>
                <table_border>1</table_border>
                <border_color>#282828</border_color>
                <heading_text_color>#FFFFFF</heading_text_color>
                <default_text>1</default_text>
                <content_text_color>#282828</content_text_color>
            </addresses>
            <payment_delivery>
                <heading_bg_color>#f16682</heading_bg_color>
                <content_bg_color>#FFFFFF</content_bg_color>
                <table_border>1</table_border>
                <border_color>#282828</border_color>
                <heading_text_color>#FFFFFF</heading_text_color>
                <default_text>1</default_text>
                <content_text_color>#282828</content_text_color>
                <delivery_date>1</delivery_date>
                <delivery_comment>1</delivery_comment>
            </payment_delivery>
            <items>
                <column_bg_color>#f16682</column_bg_color>
                <column_text_color>#FFFFFF</column_text_color>
                <content_bg_color>#FFFFFF</content_bg_color>
                <table_border>1</table_border>
                <border_color>#282828</border_color>
                <content_border>0</content_border>
                <content_border_color>#282828</content_border_color>
                <default_text>1</default_text>
                <content_text_color>#282828</content_text_color>
                <thumbnail_height>90</thumbnail_height>
                <thumbnail_width>80</thumbnail_width>
                <columns>thumbnail,name,sku,price,qty,subtotal</columns>
            </items>
            <totals>
                <use_default_config>1</use_default_config>
                <text_color>#282828</text_color>
                <bg_color>#FFFFFF</bg_color>
                <table_border>0</table_border>
                <border_color>#282828</border_color>
                <grandtotal_color>#820053</grandtotal_color>
                <grandtotal_border>0</grandtotal_border>
                <grandtotal_bg_color>#FFFFFF</grandtotal_bg_color>
                <grandtotal_border_color>#FFFFFF</grandtotal_border_color>
            </totals>
        </xp_orderpdf>
        <sales>
            <identity>
                <logo_width>200</logo_width>
                <logo_height>80</logo_height>
            </identity>
        </sales>
    </default>
</config>
