<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Shipping\Block\Adminhtml\View" type="XP\OrderPdf\Block\Adminhtml\ShipmentView"/>
    <type name="XP\OrderPdf\Model\Config\ConfigPool">
        <arguments>
            <argument name="configurations" xsi:type="array">
                <item name="top_header" xsi:type="object">XP\OrderPdf\Model\Config\Pool\HeaderConfig</item>
                <item name="order_info" xsi:type="object">XP\OrderPdf\Model\Config\Pool\OrderInfoConfig</item>
                <item name="shipping and payment" xsi:type="object">XP\OrderPdf\Model\Config\Pool\PaymentShippingConfig</item>
                <item name="sender and receiver" xsi:type="object">XP\OrderPdf\Model\Config\Pool\SenderReceiverConfig</item>
                <item name="items" xsi:type="object">XP\OrderPdf\Model\Config\Pool\ItemsConfig</item>
                <item name="addresses" xsi:type="object">XP\OrderPdf\Model\Config\Pool\AddressConfig</item>
                <item name="totals" xsi:type="object">XP\OrderPdf\Model\Config\Pool\TotalsConfig</item>
            </argument>
        </arguments>
    </type>
    <type name="XP\OrderPdf\Model\Config\Pool\AbstractPool">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="border" xsi:type="string" />
                <item name="tbl" xsi:type="string" />
                <item name="tr" xsi:type="string" />
                <item name="td" xsi:type="string" />
                <item name="tbl_content" xsi:type="string" />
                <item name="tr_content" xsi:type="string" />
                <item name="td_content" xsi:type="string" />
                <item name="new_line" xsi:type="boolean">false</item>
                <item name="additional_config" xsi:type="array" />
            </argument>
        </arguments>
    </type>
</config>
