<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<imageflipper>			
			<setting>			
				<enable>1</enable>									
				<product_container>.product-item-info</product_container>		
				<product_image>.product-image-photo</product_image>							
				<flip_image>Y</flip_image>								
			</setting>	
		</imageflipper>
    </default>
</config>
