<?xml version="1.0"?>
<!--
  ~ Copyright (c) MageWorkshop. All rights reserved.
  ~ This source file is subject to the MageWorkshop License https://mageworkshop.com/terms-of-service
  ~ Do not change this file if you want to upgrade the module to the newer versions in the future
  ~ Please, contact us at https://mageworkshop.com/contact if you wish to customize this module according to you business needs
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mageworkshop_detailedreview">
            <group id="socialsharing" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Social Network Sharing</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
