<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="xporderpdf" frontName="xporderpdf">
            <module name="XP_OrderPdf" />
        </route>
    </router>
</config>
