<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Netbaseteam_Adminhtml::admin" title="Megamenu">
                <resource id="Netbaseteam_Megamenu::megamenu" title="Megamenu" sortOrder="40">
                    <resource id="Netbaseteam_Megamenu::manage" title="Megamenu Module" sortOrder="10">
						<resource id="Netbaseteam_Megamenu::save" title="Save Megamenu" sortOrder="10" />
                        <resource id="Netbaseteam_Megamenu::news_delete" title="Delete Megamenu" sortOrder="20" />
					</resource>
                </resource>
                <resource id="Netbaseteam_Adminhtml::stores" title="Megamenu">
                    <resource id="Netbaseteam_Adminhtml::stores_settings" title="Megamenu">
                        <resource id="Netbaseteam_Adminhtml::config" title="Megamenu">
                            <resource id="Netbaseteam_Megamenu::config_megamenu" title="Megamenu Configurations" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
