<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="steps text-center">
    <ul class="opc-progress-bar">
        <li class="opc-progress-bar-item first-step _complete">
            <span data-bind="i18n: 'السلة'">السلة</span>
        </li>

        <li class="opc-progress-bar-item second-step" data-bind="css: (window.checkout.hasComplete ? '_complete' : '_active')">
            <span data-bind="i18n: 'الشحن'">الشحن</span>
        </li>
    
        <li class="opc-progress-bar-item third-step" data-bind="css: (window.checkout.hasComplete ? '_active' : '')">
            <span data-bind="i18n: 'الدفع'">الدفع</span>
        </li>
    </ul>
</div>
