<?xml version="1.0"?>
<!--
  ~ Copyright (c) MageWorkshop. All rights reserved.
  ~ This source file is subject to the MageWorkshop License https://mageworkshop.com/terms-of-service
  ~ Do not change this file if you want to upgrade the module to the newer versions in the future
  ~ Please, contact us at https://mageworkshop.com/contact if you wish to customize this module according to you business needs
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Indexer\Model\Config\Data">
        <plugin name="customerPermissions_indexerConfigDataAfterGet"
                type="MageWorkshop\CustomerPermissions\Plugin\Indexer\Config\Data\OverwriteSourcePlugin"
        />
    </type>
</config>
