<?xml version="1.0"?>
<!--
  ~ Copyright (c) MageWorkshop. All rights reserved.
  ~ This source file is subject to the MageWorkshop License https://mageworkshop.com/terms-of-service
  ~ Do not change this file if you want to upgrade the module to the newer versions in the future
  ~ Please, contact us at https://mageworkshop.com/contact if you wish to customize this module according to you business needs
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="review_save_after">
        <observer name="mageworkshop_detailedreview"
                  instance="MageWorkshop\DetailedReview\Observer\Review\SaveAfter"
        />
    </event>
    <event name="review_save_commit_after">
        <observer name="mageworkshop_detailedreview"
                  instance="MageWorkshop\DetailedReview\Observer\Review\SaveCommitAfter"
        />
    </event>
    <event name="review_load_after">
        <observer name="mageworkshop_detailedreview"
                  instance="MageWorkshop\DetailedReview\Observer\Review\LoadAfter"
        />
    </event>
    <event name="controller_action_predispatch_review_product_post">
        <observer name="captcha"
                  instance="MageWorkshop\DetailedReview\Observer\CheckReviewBackendObserver"
        />
    </event>
</config>