<?xml version="1.0"?>
<!--
  ~ Copyright (c) MageWorkshop. All rights reserved.
  ~ This source file is subject to the MageWorkshop License https://mageworkshop.com/terms-of-service
  ~ Do not change this file if you want to upgrade the module to the newer versions in the future
  ~ Please, contact us at https://mageworkshop.com/contact if you wish to customize this module according to you business needs
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Review\Block\Adminhtml\Add\Form">
        <plugin name="add_custom_review_form_fields"
                type="MageWorkshop\DetailedReview\Plugin\Review\Block\Adminhtml\Review\FormPlugin"
                sortOrder="100"
                disabled="false"
        />
    </type>
    <type name="Magento\Review\Block\Adminhtml\Edit\Form">
        <plugin name="add_custom_review_form_fields"
                type="MageWorkshop\DetailedReview\Plugin\Review\Block\Adminhtml\Review\FormPlugin"
                sortOrder="100"
                disabled="false"
        />
    </type>
    <type name="MageWorkshop\DetailedReview\Block\Adminhtml\Review\Form">
        <plugin name="add_custom_review_form_fields"
                type="MageWorkshop\DetailedReview\Plugin\Review\Block\Adminhtml\Review\FormPlugin"
                sortOrder="100"
                disabled="false"
        />
    </type>
    <type name="Magento\Review\Model\Review">
        <plugin name="MageWorkshop\DetailedReview\Plugin\Plugin\Model\ReviewPlugin::beforeSave"
                type="MageWorkshop\DetailedReview\Plugin\Review\Model\ReviewPlugin"
                sortOrder="20"
                disabled="false"
        />
    </type>
    <type name="MageWorkshop\DetailedReview\Controller\Adminhtml\AbstractAttribute">
        <arguments>
            <argument name="attributeLabelCache" xsi:type="object">Magento\Framework\App\Cache\Type\Translate</argument>
        </arguments>
    </type>
    <type name="MageWorkshop\DetailedReview\Block\Adminhtml\Attribute\Edit\Tab\Options\Visual">
        <arguments>
            <argument name="swatchHelper" xsi:type="object">MageWorkshop\DetailedReview\Helper\Media</argument>
        </arguments>
    </type>
    <type name="MageWorkshop\DetailedReview\Controller\Adminhtml\Iframe\Show">
        <arguments>
            <argument name="swatchHelper" xsi:type="object">MageWorkshop\DetailedReview\Helper\Media</argument>
        </arguments>
    </type>
    <type name="MageWorkshop\DetailedReview\Block\Adminhtml\Attribute\Edit\Tab\Main">
        <arguments>
            <argument name="formFactory" xsi:type="object">Magento\Swatches\Block\Adminhtml\Product\Attribute\Edit\FormFactory</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Category\DataProvider">
        <plugin name="mageworkshop_detailedreview_category_data_provider" type="MageWorkshop\DetailedReview\Plugin\Catalog\Model\Category\DataProvider" />
    </type>
</config>
